In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('test.xlsx')
df.head()

     Titel      Objektart  Anzahl
0  Lineal2  Schreibgeräte       2
1  Lineal1  Schreibgeräte       1
2    Flyer   Druckschrift       3

In [5]:
def pica_schreiben(row):

    pica = """0600 yy
2105 04P
"""
 
    if (row.Objektart == 'Schreibgeräte') and int(row.Anzahl) < 2:
        pica += f"""0500 Xa
0501 dreidimensionale Form$btdf
0502 ohne Hilfsmittel zu benutzen$bn
0503 Gegenstand$bnr
1132 a1-analog;f2-3d;o-org;v-ganz
""" 
    pica += f"4000 {row.Titel}\n"

    return pica

In [6]:
for index, row in df.sample(3).iterrows():
    print(pica_schreiben(row))

0600 yy
2105 04P
4000 Lineal2

0600 yy
2105 04P
0500 Xa
0501 dreidimensionale Form$btdf
0502 ohne Hilfsmittel zu benutzen$bn
0503 Gegenstand$bnr
1132 a1-analog;f2-3d;o-org;v-ganz
4000 Lineal1

0600 yy
2105 04P
4000 Flyer