In [11]:
import pandas as pd
import openpyxl
import xlsxwriter

rawpath = "../raw"

In [12]:
df = pd.read_excel(f"{rawpath}/Qd-Aussteller.xlsx", names=['qd','fname','fkurz','fidn','aa','ab','pname','pidn'], dtype='string')
df = df.apply(lambda x: x.str.strip())
df.head()

,qd,fname,fkurz,fidn,aa,ab,pname,pidn
0,!1286950430!,Zytglogge Verlag,ZytgloggeVerlag,!95600167X!,<NA>,<NA>,<NA>,<NA>
1,!1286950422!,ZWEITAUSENDEINS Versand-Dienst GmbH,ZWEITAUSENDEINSVersand-Dienst,!1065141793!,<NA>,<NA>,<NA>,<NA>
2,!1286950414!,zu Klampen Verlag,zuKlampenVerlag,!1038595991!,<NA>,<NA>,<NA>,<NA>
3,!1286950406!,Zirkular,Zirkular,<NA>,<NA>,<NA>,<NA>,<NA>
4,!1286950392!,Zeitverlag Gerd Bucerius,ZeitverlagGerdBucerius,!962614025!,<NA>,<NA>,<NA>,<NA>

In [19]:

def verlag(row):

    for excel in df:
        
        if pd.notna(row.fkurz):
            workbook = xlsxwriter.Workbook(f"{row.fkurz}.xlsx")
        else:
            workbook = xlsxwriter.Workbook(f"{row.pname}.xlsx")  
        worksheet = workbook.add_worksheet('Verlagsstand')
        for worksheet in workbook.worksheets():
            worksheet.write('A1', 'Objektgattung')
            worksheet.data_validation('A2:A999', {'validate': 'list', 'source': ['Akzidenz','Audiovisuelles Material','Gebrauchsgegenstand','Kalender','Katalog','Lesezeichen','Notizbuch','Optischer Speicher','Packmittel','Plakat','Postkarte','Schreibzeug','Spielzeug','Textilien','Werbegeschenk','Sonstiges']})
            worksheet.write('B1', 'Genauere Objektgattung')
            worksheet.data_validation('B2:B30', {'validate': 'list', 'source': ['Bausatz','Beutel','Broschüre','CD-ROM','Handzettel','Hörbuch','Kartenspiel','Sammelobjekt','Schmuck','Spielzeugfigur','Stofftier','Tasse','Tonträger','T-Shirt','Tuch','Tüte','USB','Katalog','Visitenkarte','Wundverband','Sonstiges']})
            worksheet.write('C1', 'Genauere Objektgattung Schreibzeug')
            worksheet.data_validation('C2:C30', {'validate': 'list', 'source': ['Bleistift','Filzstift','Kugelschreiber','Lineal','Straßenkreide','Radiergummi','Stempelkissen','Wachsstift','Sonstiges']})
            worksheet.write('D1', 'Genauere Objektgattung Werbegeschenk')
            worksheet.data_validation('D2:D30', {'validate': 'list', 'source': ['Aufkleber','Aufsteller','Button','Flaschenöffner','Kunststoffflasche','Luftballon','Magnet','Schlüsselband','Schlüsselanhänger','Sonstiges']})
            worksheet.write('E1', 'Titel')
            worksheet.write('G1', 'Jahr Zusatz')
            worksheet.write('H1', 'Sprache')
            worksheet.write('I1', 'Text')
            worksheet.write('J1', 'Herkunft')
            worksheet.write('K1', 'Umfang Anzahl')
            worksheet.data_validation('K2:K999', {'validate': 'integer','criteria': '>=', 'value': 1})
            worksheet.write('L1', 'Breite in cm')
            worksheet.write('M1', 'Länge in cm')
            worksheet.write('N1', 'Höhe in cm')
            worksheet.write('O1', 'Materialart')
            worksheet.data_validation('O2:O999', {'validate': 'list', 'source': ['Glas !040211428!','Holz !040256685!','Keramik !040302709!','Kunststoff !04033676X!','Metall !040388603!','Papier !040445224!','Textilien !04059615X!']})
            worksheet.write('P1', 'Bemerkungen')
            worksheet.write('Q1', 'Verlagsname')
            if pd.notna((row.fname)):
                worksheet.write('Q2', (row.fname))
                worksheet.write('Q3', (row.fname))
                worksheet.write('Q4', (row.fname))
                worksheet.write('Q5', (row.fname))
            worksheet.write('R1', 'Verlags-IDN')
            if pd.notna((row.fidn)):
                worksheet.write('R2', (row.fidn))
                worksheet.write('R3', (row.fidn))
                worksheet.write('R4', (row.fidn))
                worksheet.write('R5', (row.fidn))
            worksheet.write('S1', 'Verlagskürzel')
            worksheet.write('T1', 'Qd-Verknüpfung')
            worksheet.write('T2', (row.qd))
            worksheet.write('T3', (row.qd))
            worksheet.write('T4', (row.qd))
            worksheet.write('T5', (row.qd))
            worksheet.write('U1', 'Personenname')
            if pd.notna((row.pname)):
                worksheet.write('U2', (row.pname))
                worksheet.write('U3', (row.pname))
                worksheet.write('U4', (row.pname))
                worksheet.write('U5', (row.pname))
            worksheet.write('V1', 'Personen-IDN')
            if pd.notna((row.pidn)):
                worksheet.write('V2', (row.pidn))
                worksheet.write('V3', (row.pidn))
                worksheet.write('V4', (row.pidn))
                worksheet.write('V5', (row.pidn))
            worksheet.write('F1', 'Jahr normiert')
            worksheet.data_validation('F2:F999', {'validate': 'length','criteria': '==','value': 4})
        workbook.close()

In [20]:
for index, row in df.iterrows():
    verlag(row)